@media (max-width: 575.98px) { 






        /* FORMS */
    fieldset{
        width: 50%;
        height: 200px;
        position: absolute;
        left: 20vw;
        top: 40vw;
        background-color: white;
        border-radius: 2%;
        border: 4px solid gold;
        z-index: 5;
    }

    fieldset legend{
        color: gold;
        font-size: 2em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        filter: drop-shadow(1px 1px 1px black);
    }

    fieldset label{
        font-size: 6vw;
    }

    #btnLogin{
        position: absolute;
        left: 35%;
        top: 140px;
        font-size: 1.1em;
    }
 

    #test{
        width: 100%;
        height: 100%;
        position: relative;
        top: 23em;
    }

    .bgcolor{
        background-color: rgba(0, 0, 0, 0.76);
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        position: absolute;
        z-index: 4;
    }
}