

/* / `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
   
   /* TOP COLUMN */
    #col-1{
        background-color: aqua;
    }

  
    /* MIDDLE COLUMN */


    #MiddleColumn{
position: relative;
left: 10%;
top: 15em;
    }

   #MiddleColumn form{
    margin: 10px;
    position: relative;

    z-index: 6;
   }

   #MiddleColumn fieldset{
    background-color: aquamarine;
    position: absolute;
    border: 2px solid gray;
    text-align: center;
    top: -200px;
    display: none;
}

.fa-trash-can-xmark{
    position: relative;
    font-size: 1.5em;
    top: 4px;
    left: 8vw;
    position: relative;
    display: none;

}

.fa-trash-can-xmark:hover{
    color:blue;
}

.fa-circle-plus{
    position: relative;
    font-size: 1.5em;
    top: 5px;
    left: 14vw;
    display: none;

}
.fa-circle-plus:hover{
    color: cadetblue;
}








    /* BOTTOM COLUMN */
    .OutputSelections{
background-color: blanchedalmond;
position: relative;
top: 40px;
width: 100%;
height: 100em;
    }









        /**CALENDER*/
#testt{
    background-color: aquamarine;
    width: 1000px;
    position: relative;
}






}
 

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

 }

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {  }